<ion-view title="Main" hide-back-button="true" id="page7">
    <ion-content padding="true" class="has-header">
        <h1 id="main-heading3" style="color:#41C4DB;text-align:center;">Explore</h1>
        <div id="main-markdown1" style="color:#FFFFFF;text-align:center;">
            <p>Um mundo de
                <strong>possíbilidades</strong>
            </p>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <button id="main-button6" class="button button-calm  button-block button-clear icon ion-android-apps"></button>
    </ion-content>
</ion-view>