<ion-view title="Signup" id="page6" style="background-color:#1E2744;">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list">
            <div class="flow-logo">
                <img src="img/sDxcOfaSRyKmVOxWXs59_flowTicket.svg" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h2 id="signup-heading2" style="color:#FCFCFC;text-align:center;">Cadastre-se</h2>
        </form>
        <ion-list id="signup-list3">
            <label class="item item-input user-input" id="signup-input3">
                <input type="text" placeholder="Nome">
            </label>
            <label class="item item-input user-input" id="signup-input4">
                <input type="text" placeholder="Usuário">
            </label>
            <label class="item item-input user-input" id="signup-input5">
                <input type="password" placeholder="Senha">
            </label>
        </ion-list>
        <a ui-sref="login" id="signup-button3" class="button button-calm  button-block button-clear icon ion-android-arrow-forward btn-circle"></a>
    </ion-content>
</ion-view>