<ion-view title="Story" id="page12">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h1 id="story-heading5" style="color:#FFFFFF;">Heading</h1>
        <div id="story-markdown3" style="color:#FFFFFF;">
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <button id="story-button12" class="button button-calm  button-block button-clear icon ion-chevron-right"></button>
    </ion-content>
</ion-view>