<ion-view title="Work" id="page13">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="work-form7" class="list">
            <ion-item class="range range-positive" id="work-range2">Range
                <input type="range" value="50" min="0" max="100" step="1">
            </ion-item>
            <ion-item class="item-thumbnail-left" id="work-list-item18">
                <h2>Item</h2>
            </ion-item>
            <h3 id="work-heading6" style="color:#FFFFFF;">Heading</h3>
            <div id="work-markdown5" style="color:#FFFFFF;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-toggle toggle-class="toggle-positive" id="work-toggle1">Toggle</ion-toggle>
            <div id="work-button-bar2" class="button-bar">
                <button id="work-button14" class="button button-positive  button-block">1</button>
                <button id="work-button15" class="button button-positive  button-block">2</button>
                <button id="work-button16" class="button button-positive  button-block">3</button>
            </div>
        </form>
    </ion-content>
</ion-view>