<ion-view title="Perfil" id="page13">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px;text-align: center;">
            <img src="img/15107263_1156835977737569_7351130574102217012_n.jpg" alt="" style="border-radius: 50%;border: 9px solid white;">
            <h1 style="color:white">Diego Cassiano de Vargas</h1>
            <h4 style="margin: 0px;text-align: left;color:white">Exp. Points:</h4>
            <h4 style="margin: 0px;text-align: left; color:white">Age:</h4>
        </div>
            <div class="card" ng-if="login.isLoggedWihtBackand">
                <div class="item item-divider">
                    {{login.facebookToken}}
                </div>
                <div class="item item-text-wrap">
                    <b>Username:</b> {{login.username}}
                    <p><b>Role:</b> {{login.role}}</p>
                </div>
                <div class="item item-divider">
                </div>
                </div>
    </ion-content>
</ion-view>