*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/*
 * === General Styles ===
 */

body {
	font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #2d2e36;
	background: #c2ccd4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #8e8f9a;
	outline: none;
}

a:hover,
a:focus {
	color: #2d2e36;
	outline: none;
}

audio {
	display: none;
}

/*
 * --- Containers & Layout ---
 */

.container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.content {
	overflow: hidden;
	height: 65vh;
}

.container-drums {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	/*padding: 2em 0 0 0;*/
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.screen-sm-hidden {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.container-drums svg {
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container-drums svg g {
	cursor: pointer;
}

.demo-footer {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 2em;
}

.container-sequencer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.container-sequencer.collapse {
	-webkit-transform: translateY(-110%);
	transform: translateY(-110%);
}

/*
 * --- Buttons ---
 */

.btn {
	font-size: 1.65em;
	font-weight: bold;
	line-height: 1;
	width: auto;
	margin: 0 0.125em;
	padding: 0.5rem;
	vertical-align: middle;
	text-decoration: none;
	color: #89939B;
	border: 0;
	border-radius: 2px;
	background: #B0B9C0;
}

.btn:focus,
.btn:hover {
	color: #2d2e36;
	border-color: #2d2e36;
	outline: none;
}

.btn:focus {
	color: #89939B;
}

.btn .fa {
	vertical-align: middle;
}


/*
  * --- Sequencer ---
  */

.sequencer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.row {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.row:hover {
	z-index: 100;
}

.sequencer-controls {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	padding: 10px 0 0 10px;
}

.sequencer label span {
	position: relative;
	display: block;
	width: 5vh;
    height: 5vh;
    margin: 0.5vh;
	border: 2px solid #89939B;
	border-radius: 2px;
	cursor: pointer;
}

.sequencer label input[type=checkbox]:checked ~ span {
	background: #89939B;
}

.sequencer label.active input[type=checkbox]:checked ~ span {
	background: #EB495D;
}

.sequencer label input {
	display: none;
}

.sequencer .active span {
	border-color: #EB495D;
}

.sequencer-controls .btn,
input[type=number] {
	font-size: 1.2rem;
	line-height: 1;
	margin: 5px;
	padding: 0;
	text-align: center;
	border: none;
	background: none;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

input[type=number] {
	border: none;
	-moz-appearance: textfield;
	color: #89939B;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.sequencer img {
	position: relative;
	z-index: 10;
	width: 5vh;
	height: 5vh;
	margin: 0.5vh;
	border-radius: 3px;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
}

.sequencer img:hover {
	-webkit-transform: scale(2.5);
	transform: scale(2.5);
}


/*
 * --- Keys ---
 */

#All-Keys {
	display: none;
}

.key-wrap {
	fill: #F3F8FC;
}

.key-text {
	font-size: 62px;
	font-weight: bold;
	fill: #B0B9C0;
}

@media (min-width: 700px) {
	.content {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.container-sequencer {
		-webkit-transition: -webkit-transform 0.6s;
		transition: transform 0.6s;
		-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	}
	.container-sequencer.collapse {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	.container-drums {
		width: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.container-drums svg {
		max-height: 65%;
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
		-webkit-transition: -webkit-transform 0.6s;
		transition: transform 0.6s;
		-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	}
	.screen-sm-hidden {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	.screen-sm-hidden svg {
		-webkit-transform: scale(0.85);
		transform: scale(0.85);
	}
	.btn-tooltip {
		position: relative;
	}
	.btn-tooltip::before,
	.btn-tooltip::after {
		position: absolute;
		left: 50%;
		pointer-events: none;
		opacity: 0;
	}
	.btn-tooltip:hover::before,
	.btn-tooltip:hover::after {
		opacity: 1;
		-webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
		transition: opacity 0.3s ease, transform 0.3s ease;
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}
	.btn-tooltip::before {
		content: '';
		z-index: 1001;
		top: 100%;
		width: 0;
		height: 0;
		margin: 0 0 0 -6px;
		pointer-events: none;
		border: solid transparent;
		border-width: 6px;
		border-color: transparent;
		border-bottom-color: #2d2e36;
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}
	.btn-tooltip:hover::before {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.btn-tooltip::after {
		content: attr(aria-label);
		font-size: 0.41em;
		font-weight: bold;
		line-height: 1.2;
		z-index: 1000;
		top: 100%;
		margin: 12px 0 0 0;
		padding: 8px 10px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #fff;
		border-radius: 3px;
		background: #2d2e36;
		-webkit-transform: translate3d(-50%, -5px, 0);
		transform: translate3d(-50%, -5px, 0);
	}
	.btn-tooltip:hover::after {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}
}

@media (max-width: 500px) {
	.container-sequencer,
	.container-drums {
		-webkit-align-items: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
		/*padding-top: 6em;*/
	}
	.sequencer img {
		pointer-events: none;
	}
	.btn-keys {
		display: none;
	}
	.demo-footer {
		top: auto;
		bottom: 0;
		padding: 1em;
	}
}



//Checkout
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);

.checkout__icon {
	position: absolute;
	top: 1.5em;
	left: 1.5em;
	fill: #4e4e4f;
}

.checkout__count {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	padding: 0.5em;
	width: 2em;
	height: 2em;
	border: 2px solid #4e4e4f;
	border-radius: 50%;
	font-weight: bold;
	font-family: 'Maven Pro', sans-serif;
	line-height: 0.9;
}

.checkout {
	position: absolute;
	    left: 59%;
    margin: 0 auto;
    margin-left: -4.5em;
    width: 5em;
    height: 5em;
	font-weight: 400;
	font-family: 'Maven Pro', sans-serif;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
	transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.checkout--active {
	/* center on screen (padding of parent, half of summary height, half of viewport height) */
	-webkit-transform: translate3d(0, 15px, 0) translate3d(0, 30vh, 0) translate3d(0, -50vh, 0);
	transform: translate3d(0, 15px, 0) translate3d(0, 30vh, 0) translate3d(0, -50vh, 0);
}

a.checkout__button {
	position: relative;
	z-index: 10;
	display: block;
	margin: 0 auto;
	height: 100%;
	//border-radius: 30px;
	color: #fff;
	line-height: 3em;
	-webkit-transition: background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
	transition: background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1), transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

a.checkout__button:hover,
a.checkout__button:focus {
	outline: none;
	color: #fff;
}

.checkout--active a.checkout__button {
	background-color: rgba(65,196,219,0.1);
	-webkit-transform: perspective(1000px) translate3d(0, -2.5em, 0);
	transform: perspective(1000px) translate3d(0, -2.5em, 0);
}

.checkout__text-inner {
	font-weight: bold;
}

.checkout__final-text,
.checkout__initial-text {
	-webkit-transition: opacity 0.6s cubic-bezier(0.7, 0, 0.3, 1);
	transition: opacity 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.checkout--active .checkout__initial-text {
	opacity: 0
}

.checkout__final-text {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
}

.checkout--active .checkout__final-text {
	opacity: 1;
}

.checkout__order,
.checkout__order::before {
	position: absolute;
	bottom: 0%;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0%, 0);
	transform: translate3d(-50%, 0%, 0);
}

.checkout__order {
	overflow: hidden;
	min-width: 320px;
	max-width: 700px;
	width: 95vw;
	height: 60vh;
	text-align: right;
	pointer-events: none;
}

.checkout--active .checkout__order {
	pointer-events: auto;
}

.checkout__order::before {
	content: '';
	z-index: 0;
	width: 9em;
	height: 3em;
	border-radius: 30px;
	    background: #1e2744;
	-webkit-transition: width 0.6s cubic-bezier(0.7, 0, 0.3, 1), height 0.6s cubic-bezier(0.7, 0, 0.3, 1);
	transition: width 0.6s cubic-bezier(0.7, 0, 0.3, 1), height 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.checkout--active .checkout__order::before {
	width: 100%;
	height: 100%;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.checkout__order-inner {
	position: relative;
	padding: 3em 4em;
}

.checkout__close {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	overflow: hidden;
	width: 35px;
    height: 35px;
	border: none;
	background: transparent;
	color: transparent;
	text-indent: 100%;
	opacity: 0;
	backface-visibility: hidden;
}

.checkout__close:focus {
	outline: none;
}

.checkout--active .checkout__close {
	opacity: 1;
	-webkit-transition: opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.015s;
	transition: opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.015s;
}

.checkout__close .icon {
	position: absolute;
    top: 8px;
    left: 11px;
    color: #fff;
    text-indent: 0;
}

.checkout__close:hover .icon {
	color: #41C4DB;
}

.checkout__summary {
	margin: 0.5em 0 0.75em;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 1.15em;
	line-height: 1.5;
}

.checkout__summary tr {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.checkout__summary tr:nth-child(1) {
	-webkit-transform: translate3d(0, 120px, 0);
	transform: translate3d(0, 120px, 0);
}

.checkout__summary tr:nth-child(2) {
	-webkit-transform: translate3d(0, 140px, 0);
	transform: translate3d(0, 140px, 0);
}

.checkout__summary tr:nth-child(3) {
	-webkit-transform: translate3d(0, 160px, 0);
	transform: translate3d(0, 160px, 0);
}

.checkout__summary tr:nth-child(4) {
	-webkit-transform: translate3d(0, 180px, 0);
	transform: translate3d(0, 180px, 0);
}

.checkout__summary tr:nth-child(5) {
	-webkit-transform: translate3d(0, 200px, 0);
	transform: translate3d(0, 200px, 0);
}

.checkout__summary tr:nth-child(6) {
	-webkit-transform: translate3d(0, 220px, 0);
	transform: translate3d(0, 220px, 0);
}

.checkout--active .checkout__summary tr {
	opacity: 1;
	-webkit-transform: perspective(1000px) translate3d(0, 0, 0);
	transform: perspective(1000px) translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.checkout--active .checkout__summary tbody tr:nth-child(1) {
	-webkit-transition-delay: 0.015s;
	transition-delay: 0.015s;
}

.checkout--active .checkout__summary tbody tr:nth-child(2) {
	-webkit-transition-delay: 0.03s;
	transition-delay: 0.03s;
}

.checkout--active .checkout__summary tbody tr:nth-child(3) {
	-webkit-transition-delay: 0.045s;
	transition-delay: 0.045s;
}

.checkout--active .checkout__summary tbody tr:nth-child(4) {
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.checkout--active .checkout__summary tbody tr:nth-child(5) {
	-webkit-transition-delay: 0.075s;
	transition-delay: 0.075s;
}

.checkout--active .checkout__summary tbody tr:nth-child(6) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}

.checkout__summary tbody tr:first-child td {
	padding-top: 0.5em;
}

.checkout__summary tbody td {
	padding: 0.25em 0;
	font-weight: 400;
	font-size: 0.85em;
}

.checkout__summary thead th {
	color: #41C4DB;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 0.65em;
	line-height: 2;
}

.checkout__summary thead th:first-child,
.checkout__summary tbody td:first-child {
	text-align: left;
}

.checkout__summary tbody td span {
	color: #41C4DB;
}

.checkout__summary th:last-child,
.checkout__summary td:last-child {
	text-align: right;
}

.checkout__action {
	padding: 0;
	border: none;
	background: none;
}

.checkout__action:focus {
	outline: none;
}

.checkout__action .icon {
	color: #41C4DB;
}

@media screen and (max-width:26em) { 
	.checkout--active {
		-webkit-transform: translate3d(0, 15px, 0);
		transform: translate3d(0, 15px, 0);
	}

	.checkout__order::before {
		border-radius: 0
	}

	.checkout__summary {
		margin-top: 2em
	}

	.checkout__order-inner {
		padding: 2em 2.75em;
	}

	.checkout__order {
		width: 100vw;
		height: 100vh;
	}

	.checkout__summary th:last-child,
	.checkout__summary td:last-child {
		padding-left: 10px
	}
}


.dummy-browser {
	position: relative;
	border-top: 30px solid rgba(181, 183, 188, 0.6);
	border-bottom: 10px solid rgba(181, 183, 188, 0.6);
	border-radius: 10px 10px 0 0;
}

.dummy-browser--inner {
	position: relative;
	overflow: hidden;
}

.color-1 .dummy-browser--inner {
	background: rgb(236,236,236);
}

.color-2 .dummy-browser {
	background: rgb(69, 66, 66);
}

.dummy-browser::before {
	content: '';
	position: absolute;
	top: -20px;
	left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fdb0ad;
	box-shadow: 20px 0 0 #fdeaa2, 40px 0 0 #d7edb4;
}

.dummy-header {
	display: block;
	height: 4em;
	background: rgba(181, 183, 188, 0.3);
}

.dummy-sidebar {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2.5em;
	width: 300px;
	height: 100%;
}

.dummy-sidebar__item {
	margin: 1em 0;
	width: 100%;
	height: 2.5em;
	background: rgba(181, 183, 188, 0.3);
}

.dummy-grid {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.dummy-grid--filled {
	padding: 2.5em 2em;
	background: rgba(181, 183, 188, 0.1);
}

.dummy-grid--sidebar {
	padding-right: 300px;
}

.dummy-grid--sidebar .dummy-grid__item {
	width: 29%;
}

.dummy-sidebar__overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: rgb(79, 77, 78);
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	pointer-events: none;
}

.checkout--active ~ .dummy-sidebar__overlay {
	opacity: 1;
}

.dummy-grid::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(62, 64, 71, 0.4);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
}

.checkout--active + .dummy-grid::after {
	opacity: 1;
}

.dummy-grid__item {
	position: relative;
	float: left;
	margin: 0 2% 2em;
	width: 21%;
	height: 250px;
}

.dummy-grid--highlight .dummy-grid__item:first-child::before, 
.dummy-grid--highlight .dummy-grid__item:nth-child(4)::before,
.dummy-grid--highlight .dummy-grid__item:nth-child(7)::before {
	background: rgba(228, 136, 149, 0.5);
}

.dummy-grid__item::before,
.dummy-grid__item::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
}

.dummy-grid__item::before {
	top: 0;
	height: 70%;
	background: rgba(181, 183, 188, 0.3);
	-webkit-transition: background 0.5s;
	transition: background 0.5s;
}

.dummy-grid__item::after {
	top: 80%;
	height: 15%;
	border-top: 10px solid rgba(181, 183, 188, 0.3);
	border-bottom: 10px solid rgba(181, 183, 188, 0.3);
}

.dummy-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	height: calc(6em + 30px);
	//background: #E2E0D3;
	text-align: center;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	opacity: 0.8;
	max-width: 100%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}

	.dummy-grid--sidebar {
		padding: 1em;
	}

	.dummy-sidebar {
		position: static;
		z-index: 100;
		width: 100%;
	}

	.dummy-sidebar__item {
		display: none;
	}

}


h3{
	color: white;
}

//Custom
body {
	background: #cebe29;
	background: -moz-linear-gradient(-45deg, #cebe29 0%, #9b1f50 33%, #2989d8 71%, #89b4ff 91%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cebe29), color-stop(33%,#9b1f50), color-stop(71%,#2989d8), color-stop(91%,#89b4ff));
	background: -webkit-linear-gradient(-45deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
	background: -o-linear-gradient(-45deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
	background: -ms-linear-gradient(-45deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
	background: linear-gradient(135deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebe29', endColorstr='#89b4ff',GradientType=1 );
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}

.custom-calendar-full {
	position: absolute;
	top: 24px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: auto;
}

.fc-calendar-container {
	height: auto;
	bottom: 0px;
	width: 100%;
	top: 50px;
	position: absolute;
}

.custom-header {
	padding: 20px 20px 10px 30px;
	height: 50px;
	position: relative;
}

.custom-header h2,
.custom-header h3 {
	float: left;
	font-weight: 300;
	letter-spacing: 4px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.custom-header h2 {
	color: #fff;
	width: 60%;
}

.custom-header h2 a, 
.custom-header h2 span {
	color: rgba(255,255,255,0.3);
	font-size: 18px;
	letter-spacing: 3px;
	white-space: nowrap;
}

.custom-header h2 a {
	color: rgba(255,255,255,0.5);
}

.no-touch .custom-header h2 a:hover {
	color: rgba(255,255,255,0.9);
}

.custom-header h3 {
	width: 40%;
	color: #ddd;
	color: rgba(255,255,255,0.6);
	font-weight: 300;
	line-height: 30px;
	text-align: right;
	//padding-right: 125px;
}

.custom-header nav {
	position: absolute;
	right: 20px;
	top: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-header nav span {
	float: left;
	width: 30px;
	height: 30px;
	position: relative;
	color: transparent;
	cursor: pointer;
	background: rgba(255,255,255,0.3);
	margin: 0 1px;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	box-shadow: inset 0 1px rgba(255,255,255,0.2);
}

.custom-header nav span:first-child {
	border-radius: 3px 0 0 3px;
}

.custom-header nav span:hover {
	background: rgba(255,255,255,0.5);
}

.custom-header span:before {
	font-family: 'fontawesome-selected';
	color: #fff;
	display: inline-block;
	text-align: center;
	width: 100%;
	text-indent: 4px;
}

.custom-header nav span.custom-prev:before {
	content: '\25c2';
}

.custom-header nav span.custom-next:before {
	content: '\25b8';
}

.custom-header nav span:last-child {
	margin-left: 20px;
	border-radius: 3px;
}

.custom-header nav span.custom-current:before {
	content: '\27a6';
}


.fc-calendar {
	background: rgba(255,255,255,0.1);
	width: auto;
	top: 10px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	height: auto;
	border-radius: 20px;
	position: absolute;
}

.fc-calendar .fc-head { 
	background: rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.9);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 20px 20px 0 0;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}

.fc-calendar .fc-head > div {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.fc-calendar .fc-row > div > span.fc-date {
	color: rgba(255,255,255,0.9);
	text-shadow: none;
	font-size: 26px;
	font-weight: 300;
	bottom: auto;
	right: auto;
	top: 10px;
	left: 10px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.fc-calendar .fc-body {
	border: none;
	padding: 20px;
}

.fc-calendar .fc-row {
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.2);
	border: none;
}

.fc-calendar .fc-row:last-child {
	box-shadow: none;
}

.fc-calendar .fc-row:first-child > div:first-child {
	border-radius: 10px 0 0 0;
}

.fc-calendar .fc-row:first-child > div:last-child {
	border-radius: 0 10px 0 0;
}

.fc-calendar .fc-row:last-child > div:first-child {
	border-radius: 0 0 0 10px;
}

.fc-calendar .fc-row:last-child > div:last-child {
	border-radius: 0 0 10px 0;
}

.fc-calendar .fc-row > div {
	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2);
	border: none;
	padding: 10px;
	cursor: pointer;
}

.fc-calendar .fc-row > div:first-child{
	box-shadow: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: transparent;
	box-shadow: inset 0 0 100px rgba(255,255,255,0.1);
}

.fc-calendar .fc-row > div.fc-today:after { 
	content: ''; 
	display: block;
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -o-llinear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -ms-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
	background: linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}

.fc-calendar .fc-row > div > div {
	margin-top: 35px;
}

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
	color: rgba(255,255,255,0.7);
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding: 3px 5px;
	border-radius: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	margin-bottom: 1px;
	background: rgba(255,255,255,0.1);
}

.no-touch .fc-calendar .fc-row > div > div a:hover {
	background: rgba(255,255,255,0.3);
}

@media screen and (max-width: 880px) , screen and (max-height: 450px) {
	html, body, .container {
		height: auto;
	}

	.custom-header,
	.custom-header nav,
	.custom-calendar-full,
	.fc-calendar-container, 
	.fc-calendar,
	.fc-calendar .fc-head,
	.fc-calendar .fc-row > div > span.fc-date {
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		height: auto;
		width: auto;
	}

	.fc-calendar {
		margin: 0 20px 20px;
	}

	.custom-header h2,
	.custom-header h3 {
		float: none;
		width: auto;
		text-align: left;
		//padding-right: 100px;
	}

	.fc-calendar .fc-row,
	.ie9 .fc-calendar .fc-row > div,
	.fc-calendar .fc-row > div {
		height: auto;
		width: 100%;
		border: none;
	}

	.fc-calendar .fc-row > div {
		float: none;
		min-height: 50px;
		box-shadow: inset 0 -1px rgba(255,255,255,0.2) !important;
		border-radius: 0px !important;
	}

	.fc-calendar .fc-row > div:empty{
		min-height: 0;
		height: 0;
		box-shadow: none !important;
		padding: 0;
	}

	.fc-calendar .fc-row {
		box-shadow: none;
	}

	.fc-calendar .fc-head {
		display: none;
	}

	.fc-calendar .fc-row > div > div {
		margin-top: 0px;
		padding-left: 10px;
		max-width: 70%;
		display: inline-block;
	}

	.fc-calendar .fc-row > div.fc-today {
		background: rgba(255, 255, 255, 0.2);
	}

	.fc-calendar .fc-row > div.fc-today:after { 
		display: none;
	}

	.fc-calendar .fc-row > div > span.fc-date {
		width: 50px;
		display: inline-block;
		text-align: right;
	}

	.fc-calendar .fc-row > div > span.fc-weekday {
		display: inline-block;
		width: 40px;
		color: #fff;
		color: rgba(255,255,255,0.7);
		font-size: 10px;
		text-transform: uppercase;
	}
}

//Demo
/* General Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bpicons/bpicons.woff') format('woff'),
	url('../fonts/bpicons/bpicons.ttf') format('truetype'),
	url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
} /* Made with http://icomoon.io/ */


/* Helper classes */
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

a {
	text-decoration: none;
	color: #f0f0f0;
	outline: none;
}

a:hover {
	color: #5C5EDC;
}


@media screen and (max-width: 40em) {
	.bp-header h1 {
		font-size: 1.8em;
	}
}


.icon--jacket:before{
	content: '';
	background-image: url('../images/1tiny.png');
	width: 29px;
	height: 29px;
}

.icon--shirt:before{
	content: '';
	background-image: url('../images/2tiny.png');
	width: 29px;
	height: 29px;
}

.icon--dress:before{
	content: '';
	background-image: url('../images/7tiny.png');
	width: 29px;
	height: 29px;
}

.icon--trousers:before{
	content: '';
	background-image: url('../images/4tiny.png');
	width: 29px;
	height: 29px;
}

.icon--shoe:before{
	content: '';
	background-image: url('../images/5tiny.png');
	width: 29px;
	height: 29px;
}

.fa-shopping-cart:before{
	color: #41C4DB;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}

.fa-shopping-cart:hover:before{
	color: white;
}

.fc-content a{
	position: relative;
	z-index: 999;
}

